body{
  margin:0;
  padding: 0;
  font-family: Inter,sans-serif;
  background-color: #fafaf8;
}
/* Header */

.divHeader{
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

.paragraphHeader{
  font-size: 1.79rem;
  line-height: 60px;
  letter-spacing: -1.6px;
  margin-left: 11px;
  font-weight: 400;
}

.chefIcon{
  width: 50px;
}

/*  Main  */

section { display: flex; 
  flex-direction: column;
  align-items: start;
  margin: 40px auto 0;
  width: 590px;
  margin-top: 20px;}

.divInput{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  height: 38px;
}


.input{
  flex: 1;
  border-style: solid;
  border-radius: 6px;
  border-width: 1px;
  padding: 9px 13px 9px 13px;
  width: 400px;
  height: auto;
  border-color: #D1D5DB;
}

.buttonInput{
  flex: none;
  border-radius: 6px;
  border: 1px solid #D1D5DB;
  padding: 9px 13px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  flex-grow: 1;
  min-width: 150px;
  max-width: 200px;
  background-color: black;
  color: white;
  margin-left: 12px;
  cursor: pointer;

}
section h2{
  font-size:1.3rem;
}

.get-recipe-container{
  display: inline-flex;
}

.get-recipe-container h3 {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 24px;
}
.get-recipe-container p {
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 20px;
}

.get-recipe-container button {
  border: none;
  border-radius: 6px;
  background: #D17557;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  color: #FAFAF8;
  padding: 9px 12px;
  width: 120px;
  height: 35px;
  margin-left:2.7rem;
  align-self: center;
  font-family: Inter, sans-serif;
  font-size: 0.875rem;
  cursor: pointer;
}

